.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f172a;  
    font-family: 'Inter', sans-serif;
    color: white;
}

/* FlashSale logo */
.header-logo {
    position: absolute;
    top: 25px;
    left: 30px;
    font-size: 2rem;
    font-weight: 800;
    color: #fbbf24;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.header-logo:hover {
    transform: scale(1.05);
}

/* The Card */
.login-box {
    background: #1e293b; 
    padding: 2.5rem;
    width: 90%;
    max-width: 400px;
    border-radius: 16px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.6);
    text-align: center;
    border: 1px solid #334155;
    box-sizing: border-box;
}

/* Headings */
.login-box h2 {
    color: white !important; 
    margin-bottom: 1.5rem;
    font-weight: 700;
}

/* Input Fields */
.login-input {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    background-color: #0f172a; 
    border: 1px solid #334155;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    outline: none;
    transition: all 0.3s ease;
}

.login-input:focus {
    border-color: #ef4444; /* RED border for Admin */
    background-color: #161e2e;
    box-shadow: 0 0 0 4px rgba(238, 68, 68, 0.1);
}

/* Button */
.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #ef4444; /* Red for Admin page*/
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.2s;
}

.login-btn:hover {
    background-color: #dc2626;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(239, 68, 68, 0.3);
}

.login-btn:active {
    transform: translateY(0); /* Pressed effect */
}

/* Mobile Responsiveness for the logo */
@media (max-width: 480px) {
    .header-logo {
        top: 10px;
        position: static; /* Moves logo above the box on mobile */
        margin-bottom: 20px;
        text-align: center;
        display: block;
    }
}