.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f172a; 
    font-family: 'Inter', sans-serif;
    color: white;
}

/* FlashSale logo */
.header-logo {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 1.8rem;
    font-weight: 800;
    color: #fbbf24;
    cursor: pointer;
}

/* The Card */
.login-box {
    background: #1e293b; 
    padding: 2.5rem;
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 1px solid #334155;
}

/* Headings */
.login-box h2 {
    color: white !important; 
    margin-bottom: 1.5rem;
    font-weight: 700;
}

/* Input Fields */
.login-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #0f172a; 
    border: 1px solid #334155;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    outline: none;
    transition: border-color 0.2s;
}

.login-input:focus {
    border-color: #ef4444; /* RED border for Admin */
}

/* Button */
.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #ef4444; /* Red for Admin page*/
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.login-btn:hover {
    background-color: #dc2626;
}