.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f172a; 
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 20px;
}

.header-logo{
    top: 25px;
    left: 30px;
    font-size: 2rem;
    font-weight: 800;
    color: #fbbf24;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.header-logo:hover {
    transform: scale(1.05);
}

/* The Card */
.login-box {
    background: #1e293b; 
    padding: 2.5rem; 
    width: 90%;
    max-width: 400px;
    border-radius: 16px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.6); 
    text-align: center;
    border: 1px solid #334155; 
    box-sizing: border-box;
}

/* Headings inside the box */
.login-box h2 {
    color: white !important; 
    margin-bottom: 1.5rem;
    font-weight: 700;
}

/* Input Fields */
.login-input {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    background-color: #0f172a; 
    border: 1px solid #334155;
    border-radius: 8px;
    font-size: 1rem;
    color: white; 
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s ease; 
}

.login-input:focus {
    border-color: #3b82f6; 
    background-color: #161e2e;
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.15);
}

.login-input::placeholder {
    color: #64748b;
}

/* Login Button */
.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #3b82f6 !important; 
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #2563eb !important; 
    background-color: #161e2e;
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.15);
}

.account-btn {
    background: none;
    border: none;
    color: #3b82f6;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
}

/* Mobile Responsiveness */
@media (max-width: 480px) {
    .header-logo {
        position: absolute; 
        top: 5px;
        left: 30px;
        margin-bottom: 0;
    }
    
    .login-box {
        padding: 1.5rem;
    }
}